@CHARSET "UTF-8";

html, body{
   height: 100%;
   margin: 0px;
   padding: 0px;
 }
 
#map-canvas {
 height: 93%;
 margin-top: -20px;
 }

.labels {
  color: white;
  background-color: transparent;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 100px;
  white-space: nowrap;
}
