@CHARSET "UTF-8";

html, body{
   height: 100%;
   margin: 0px;
   padding: 0px;
 }
 
#map-canvas {
 height: 93%;
 margin-top: -20px;
 }


#settings-modal {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -450px;
	height: 500px; /* SET THE WIDTH OF THE MODAL */
}

#friends-modal {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -450px;
	height: 500px; /* SET THE WIDTH OF THE MODAL */
}

#modal-body-settings {
	width: 870px; /* SET THE WIDTH OF THE MODAL */
	height: 380px; /* SET THE WIDTH OF THE MODAL */
}

#SettingsTabContent {
	width: 850px; /* SET THE WIDTH OF THE MODAL */
	height: 320px; /* SET THE WIDTH OF THE MODAL */
}

#userpic {
	height: 120px;
}
#progress {
	margin-bottom: -20px;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}


.bar {
    height: 18px;
    background: green;
    margin-top: -25px;
	z-index: 10;
	position: relative;
	width: 160px;  
}
.tab-pane {
  height: 300px;
}

.labels {
  color: white;
  background-color: transparent;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 100px;
  white-space: nowrap;
}

.input_edit {
	width: 180px;
}