@CHARSET "UTF-8";

html, body{
   height: 100%;
   margin: 0px;
   padding: 0px;
 }
 
#map-canvas {
 height: 93%;
 margin-top: -20px;
 }


#settings-modal {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -450px;
	height: 500px; /* SET THE WIDTH OF THE MODAL */
}

#friends-modal {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -450px;
	height: 500px; /* SET THE WIDTH OF THE MODAL */
}

#modal-body-settings {
	width: 870px; /* SET THE WIDTH OF THE MODAL */
	height: 380px; /* SET THE WIDTH OF THE MODAL */
}

#SettingsTabContent {
	width: 850px; /* SET THE WIDTH OF THE MODAL */
	height: 320px; /* SET THE WIDTH OF THE MODAL */
}

#userpic {
	height: 120px;
}
#progress {
	margin-bottom: -20px;
}

.bar {
    height: 18px;
    background: green;
    margin-top: -25px;
	z-index: 10;
	position: relative;
	width: 160px;  
}
.tab-pane {
  height: 300px;
}

.labels {
  color: white;
  background-color: transparent;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 100px;
  white-space: nowrap;
}

.input_edit {
	width: 180px;
}